@import "scss/bulma.scss";
@import "scss/helpers.scss";
@import "scss/card.scss";
@import "scss/icons.scss";
@import "scss/input.scss";
@import "scss/profile.scss";
@import "scss/modal.scss";
@import "scss/leaderboards.scss";

// navbar
.navbar-user-avatar {
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
}

nav.navbar {
  font-size: 14px !important;
}

// Notifications
div.notification.is-outlined {
  background: transparent !important;
  border: 2px dashed $not-quite-black;
  border-radius: 8px;
}

.guild-header-name {
  margin-left: 1em;
  margin-top: -8px;
  font-size: 2em;
}