@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$blurple: #7289DA;
$redple: #db325c; // #FF69B4;
$full-white: #FFFFFF;
$greyple: darken(#99aaB5, 10%);
$dark-not-black: #2C2F33;
$not-quite-black: #23272A;

$text: $full-white;
$primary: $redple;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$family-sans-serif: "Open Sans", sans-serif; // "Ubuntu", sans-serif;

// navbar
$navbar-background-color: transparent; // $redple;
$navbar-item-color: $full-white;
$navbar-item-hover-color: $full-white;
$navbar-item-hover-background-color: darken($dark-not-black, 2.5%); // transparentize($greyple, 0.9); // darken($redple, 5%);
$navbar-dropdown-background-color: $dark-not-black; // $redple;
$navbar-dropdown-item-hover-color: $full-white;
$navbar-dropdown-item-hover-background-color: $not-quite-black; // darken($redple, 5%);

// body
$body-background-color: $dark-not-black;
$body-color: $full-white;

// Text
$title-color: $full-white;
$subtitle-color: $full-white;

// Footer
$footer-background-color: transparent;

// Textbox
$input-color: $full-white;
$input-background-color: transparentize($greyple, 0.5);
$input-border-color: transparent;

$input-disabled-color: darken($full-white, 30%);
$input-disabled-background-color: $not-quite-black;
$input-disabled-border-color: $dark-not-black;

$input-focus-border-color: transparent;
$input-focus-box-shadow-size: 0 0 0 0;
$input-focus-box-shadow-color: transparent;

// Cards
$card-background-color: $not-quite-black;
$card-header-color: $full-white;

// Tags
$tag-background-color: $redple;
$tag-color: $full-white;

// Labels
$label-color: $full-white;

// Sliders
$slider-track-background: $dark-not-black;
$slider-output-background: $redple;

// Messages
$message-background-color: $dark-not-black;
$message-body-border: none;
$message-body-color: $full-white;

// Color overrides
$info: $blurple;

// Links 
$link: $full-white;
$link-visited: $full-white;
$link-hover: $full-white;
$link-focus: $full-white;
$link-active: $full-white;

// Menus
$menu-label-color: darken($full-white, 15%);

@import '~bulma/bulma';
@import '~bulma-extensions/bulma-switch/dist/bulma-switch';

html, body {
  font-size: 14px !important;
}

// Colour helpers
.is-blurple {
  background: $blurple !important;
}

.is-redple {
  background: $redple !important;
}

.is-full-white {
  background: $full-white !important;
}

.is-greyple {
  background: $greyple !important;
}

.is-dark-not-black {
  background: $dark-not-black !important;
}

.is-not-quite-black {
  background: $not-quite-black !important;
}

// Guild cards
.guild-card.shorter > .card.detached {
  height: 6.1rem;
}

$card-outer-margin: 0rem;
.guild-card {
  flex: 1;
  border-radius: 4px;
  display: inline-block;
  height: 50% !important;
  min-height: 50% !important;

  @media screen and (min-width: 769px) {
    margin: $card-outer-margin !important;
  }

  @media screen and (max-width: 768px) {
    margin: 0 !important;
    margin-top: $card-outer-margin !important;
    margin-bottom: $card-outer-margin !important;
  }
  .card.detached {
    height: 10rem;
  }
}

.guild-icon {
  width: 64px !important;
  height: 64px !important;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 60px;
  border: 1.5px solid $full-white;
  margin: 0.25rem;
}

.circle {
  border-radius: 50% !important;
}

$card-border: transparent; // transparentize(#777, 0.5);
.card-footer-item:not(:last-child) {
  border-right: 1px solid $card-border !important;
}

.card-footer {
  border-top: 1px solid $card-border !important;
}

.card.detached {
  border-radius: 4px;
  box-shadow: none !important; // 0 2px 3px rgba(10, 10, 10, 0.5), 0 0 0 1px rgba(10, 10, 10, 0.1) !important;
}

footer.card-footer.detached {
  $margin: 0.5rem;
  margin-top: $margin;
  .card-footer-item {
    border-radius: 4px;
    background: $not-quite-black !important;
    box-shadow: none !important; // 0 2px 3px rgba(10, 10, 10, 0.5), 0 0 0 1px rgba(10, 10, 10, 0.1) !important;
  }

  .card-footer-item:first-child:not(:only-child) {
    margin-right: $margin / 2;
  }
  .card-footer-item:last-child:not(:only-child) {
    margin-left: $margin / 2;
  }
}

header.card-header.guild-header {
  display: flex;
  align-content: center;
  justify-content: left;
  flex-direction: row;
  flex: 1;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

main.content {
  min-height: 100vh;
}

.is-60x60 {
  width: 60px !important;
  height: 60px !important;
}

// cards
p.card-header-title.guild-title {
  width: 14em !important;
}

.card-columns {
  text-align: left !important;
  justify-content: left !important;
}

// navbar
.navbar-user-avatar {
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
}

nav.navbar {
  font-size: 14px !important;
}

// hover helper
.hover {
  transition-duration: 0.25s;
}

.hover:hover {
  filter: brightness(90%) !important;
  transform: translate(0px, -2px);
}

// row and column helpers
div.toggle-row {
  padding: 2rem;
  margin: 0.1rem 0;
  border-radius: 8px;
  background: $not-quite-black;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  align-content: left;
  justify-content: left;
  width: 100%;
  height: 7rem !important;
  min-height: 7rem !important;
  max-height: 7rem !important;
}

div.toggle-col {
  padding: 2rem;
  margin: 0.1rem 0;
  border-radius: 8px;
  background: $not-quite-black;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: left;
  align-content: left;
  justify-content: left;
  width: 100%;
}

// delete button
.toggle-corner-button {
  width: 2rem !important;
  height: 2rem !important;

  position: relative !important;
  bottom: 8rem !important;
  left: 100% !important;

  border-radius: 50% !important;
  margin-left: -16px !important;
}

// hr
.dark-hr {
  background-color: lighten($not-quite-black, 10%);
}

// Spacing helper
.small-spacer-v {
  padding: 0.25rem;
  margin: 0.25rem;
}

// Textarea
textarea.dark-textarea {
  color: $full-white;
  background: $not-quite-black;
  width: 100%;
  border-radius: 2px;
  border: 1px solid lighten($not-quite-black, 15%);
  font-size: 1em;
  min-height: 8em;
  resize: vertical;
}

textarea.dark-textarea:focus {
  outline: none !important;
  border: 1px solid transparentize($redple, 0.75);
}

.textarea-container {
  min-height: 4rem;
  position: relative;
}

.textarea-counter {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

// Select shit
.wide-select {
  width: 16em !important;
}

.Select-control {
  background: $not-quite-black;
  color: $full-white;
  border: 1px solid lighten($not-quite-black, 15%);
}

.Select.is-focused > .Select-control {
  background: $not-quite-black;
  color: $full-white;
  border: 1px solid lighten($not-quite-black, 15%);
}

.Select-control .Select-input:focus, .Select.is-focused > .Select-control, .Select.is-focused:not(.is-open) > .Select-control {
  outline: none;
  background: $not-quite-black;
}

.Select-value, .Select-input, .Select-value-label {
  color: $full-white !important;
}

.Select.is-focused:not(.is-open) > .Select-control {
  border: 1px solid lighten($not-quite-black, 15%) !important;
  box-shadow: none !important;
}

.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: $not-quite-black;
  border: 1px solid lighten($not-quite-black, 15%);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.Select-option {
  box-sizing: border-box;
  background-color: $not-quite-black;
  color: $full-white;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Select-option.is-selected {
  background-color: $dark-not-black;
  color: $full-white;
}
.Select-option.is-focused {
  background-color: $dark-not-black;
  color: $full-white;
}

// So it turns out that react-select is retarded, and somehow thinks that 
// putting more characters into the textarea REQUIRES expanding
// the input through a forced CSS style right on the element.
// yeah idk either it's retarded.
// This fixes it through some stupid CSS selectors.
.Select > .Select-control > * > .Select-input > input,
// Don't always know if there'll be another nested component right there! :sob:
.Select > .Select-control > .Select-input > input {
  // this is so sad can we hit react
  width: 180px;
  min-width: 180px;
  max-width: 180px;
}

// Notifications
div.notification.is-outlined {
  background: transparent !important;
  border: 2px dashed $not-quite-black;
  border-radius: 8px;
}

// Profile helpers
.profile-avatar {
  position: absolute;
  top: -12em;
  border: 2px solid rgba(0, 0, 0, 0.25);
}
.profile-name {
  position: absolute;
  top: -3em;
  left: 5em;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.profile-top-spacer {
  margin: 8em;
}

div.profile-column {
  margin-left: 1em;
  margin-right: 1em;
}

div.post-column {
  margin-bottom: 1em;
}

.rounded-corners {
  border-radius: 4px;
}

/* Modal dialog */
$animation-time: 0.25s;
// SOMEHOW
// SOME FUCKING HOW
// Enabling this animation causes the background of the modal to go transparent on hover events
// idgi
/*
@keyframes modalFadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes modalBgFadeInDown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*/


.mewna-modal {
  position: absolute;
  background: $dark-not-black;
  border-radius: 4px;
  border: none !important;

  /*
  animation-name: modalFadeInDown;
  animation-duration: $animation-time;
  animation-fill-mode: both;
  */

  @media screen and (max-width: 768px) {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
  }

  @media screen and (min-width: 769px) {
    width: 480px;
    //height: 480px;
    max-height: 75vh;
    margin-top: calc(50vh - 37.5vh);
    margin-left: calc(50vw - 240px);
    display: block;
  }
}
.mewna-modal:focus {
  outline: none;
}

.mewna-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize(#000000, 0.5);
  animation-name: modalBgFadeInDown;
  animation-duration: $animation-time;
  animation-fill-mode: both;
}

.modal-container {
  padding: 2rem !important;
}

.modal-body::-webkit-scrollbar-track {
	-webkit-box-shadow: none; // inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: transparent;
}

.modal-body::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}

.modal-body::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.3);
}
/*
.modal-body::-webkit-scrollbar { 
  display: none; 
}
*/
.modal-body {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 8px;
  max-height: 50vh;
}

@media screen and (max-width: 767px) {
  div.profile-background-image-container {
    height: 100px;
  }
  .profile-background-image-wrapper {
    width: 100%;
    height: 100px;
    overflow: hidden;
    border: 2px solid $full-white;
    position: relative;
  }
  .profile-background-image {
    height: 100px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  div.profile-background-image-container {
    height: 50px;
  }
  .profile-background-image-wrapper {
    width: 100%;
    height: 50px;
    overflow: hidden;
    border: 2px solid $full-white;
    position: relative;
  }
  .profile-background-image {
    height: 50px;
    width: 100%;
  }
}

div.profile-background-image-container:hover .profile-background-image-locked {
  cursor: not-allowed;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.modal-title {
  text-transform: uppercase;
  margin-bottom: 0.25em;
  font-size: 1.2em;
  font-weight: bold;
}
.is-paddingless-top {
  padding-top: 0 !important;
}
.is-paddingless-bottom {
  padding-bottom: 0 !important;
}

.profile-background-section {
  background-size: cover;
  filter: brightness(80%);
}
