@import url("https://fonts.googleapis.com/css?family=Lato");
.guild-card.shorter > .card.detached {
  height: 6.1rem; }

.guild-card {
  flex: 1;
  border-radius: 8px;
  display: inline-block; }
  @media screen and (min-width: 769px) {
    .guild-card {
      margin: 0rem !important; } }
  @media screen and (max-width: 768px) {
    .guild-card {
      margin: 0 !important;
      margin-top: 0rem !important;
      margin-bottom: 0rem !important;
      width: 100%; } }
  .guild-card .card.detached {
    height: 10rem; }

.card-footer-item:not(:last-child) {
  border-right: 1px solid transparent !important; }

.card-footer {
  border-top: 1px solid transparent !important; }

.card.detached {
  border-radius: 8px;
  box-shadow: none !important; }

footer.card-footer.detached {
  margin-top: 0.5rem; }
  footer.card-footer.detached .card-footer-item {
    border-radius: 8px;
    background: #23272A !important;
    box-shadow: none !important; }
  footer.card-footer.detached .card-footer-item:first-child:not(:only-child) {
    margin-right: 0.25rem; }
  footer.card-footer.detached .card-footer-item:last-child:not(:only-child) {
    margin-left: 0.25rem; }

header.card-header.guild-header {
  display: flex;
  align-content: center;
  justify-content: left;
  flex-direction: row;
  flex: 1;
  padding-top: 0.5em;
  padding-left: 0.5em; }

p.card-header-title.guild-title {
  width: 14em !important; }

.card-columns {
  text-align: left !important;
  justify-content: left !important; }

@media screen and (min-width: 769px) {
  .guild-card.column:nth-of-type(3n - 2) {
    padding-left: 0 !important; }
  .guild-card.column:nth-of-type(3n) {
    padding-right: 0 !important; } }

.guild-card-wrapper {
  position: relative;
  border-radius: 8px;
  height: 12rem;
  margin: 1rem;
  border: 1px solid gray;
  overflow: hidden; }

.guild-card-background {
  height: 100%;
  border-radius: 8px;
  background-color: #23272A;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: all .35s ease-in-out; }

.guild-card-background:hover {
  transform: scale(1.2); }

.guild-card-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 4px;
  background: rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; }
