@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.guild-card.shorter > .card.detached {
  height: 6.1rem; }

.guild-card {
  flex: 1;
  border-radius: 8px;
  display: inline-block; }
  @media screen and (min-width: 769px) {
    .guild-card {
      margin: 0rem !important; } }
  @media screen and (max-width: 768px) {
    .guild-card {
      margin: 0 !important;
      margin-top: 0rem !important;
      margin-bottom: 0rem !important;
      width: 100%; } }
  .guild-card .card.detached {
    height: 10rem; }

.card-footer-item:not(:last-child) {
  border-right: 1px solid transparent !important; }

.card-footer {
  border-top: 1px solid transparent !important; }

.card.detached {
  border-radius: 8px;
  box-shadow: none !important; }

footer.card-footer.detached {
  margin-top: 0.5rem; }
  footer.card-footer.detached .card-footer-item {
    border-radius: 8px;
    background: #23272A !important;
    box-shadow: none !important; }
  footer.card-footer.detached .card-footer-item:first-child:not(:only-child) {
    margin-right: 0.25rem; }
  footer.card-footer.detached .card-footer-item:last-child:not(:only-child) {
    margin-left: 0.25rem; }

header.card-header.guild-header {
  display: flex;
  align-content: center;
  justify-content: left;
  flex-direction: row;
  flex: 1;
  padding-top: 0.5em;
  padding-left: 0.5em; }

p.card-header-title.guild-title {
  width: 14em !important; }

.card-columns {
  text-align: left !important;
  justify-content: left !important; }
