@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body {
  font-size: 14px !important; }

.is-blurple {
  background: #7289DA !important; }

.is-redple {
  background: #db325c !important; }

.is-full-white {
  background: #FFFFFF !important; }

.is-greyple {
  background: #7b91a0 !important; }

.is-dark-not-black {
  background: #2C2F33 !important; }

.is-not-quite-black {
  background: #23272A !important; }

.circle {
  border-radius: 50% !important; }

main.content {
  min-height: 100vh; }

.is-60x60 {
  width: 60px !important;
  height: 60px !important; }

.is-92x92 {
  width: 92px !important;
  height: 92px !important; }

.hover {
  transition-duration: 0.25s; }

.hover:hover {
  filter: brightness(90%) !important;
  transform: translate(0px, -2px); }

div.toggle-row {
  padding: 2rem;
  margin: 0.1rem 0;
  border-radius: 8px;
  background: #23272A;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  align-content: left;
  justify-content: left;
  width: 100%;
  min-height: 7rem !important;
  max-height: 14rem;
  position: relative; }

div.toggle-col {
  padding: 2rem;
  margin: 0.1rem 0;
  border-radius: 8px;
  background: #23272A;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: left;
  align-content: left;
  justify-content: left;
  width: 100%;
  position: relative; }

.toggle-column-wrapper {
  margin-bottom: 2em;
  padding: 0; }

.dark-hr {
  background-color: #3a4146; }

.small-spacer-v {
  padding: 0.25rem;
  margin: 0.25rem; }

.rounded-corners {
  border-radius: 8px; }

.is-paddingless-top {
  padding-top: 0 !important; }

.is-paddingless-bottom {
  padding-bottom: 0 !important; }

.is-4em-h {
  height: 4em !important; }
