@import "./variables.scss";

html, body {
  font-size: 14px !important;
}

// Colour helpers
.is-blurple {
  background: $blurple !important;
}

.is-redple {
  background: $redple !important;
}

.is-full-white {
  background: $full-white !important;
}

.is-greyple {
  background: $greyple !important;
}

.is-dark-not-black {
  background: $dark-not-black !important;
}

.is-not-quite-black {
  background: $not-quite-black !important;
}

.circle {
  border-radius: 50% !important;
}

main.content {
  min-height: 100vh;
}

.is-60x60 {
  width: 60px !important;
  height: 60px !important;
}
.is-92x92 {
  width: 92px !important;
  height: 92px !important;
}

// hover helper
.hover {
  transition-duration: 0.25s;
}

.hover:hover {
  filter: brightness(90%) !important;
  transform: translate(0px, -2px);
}

// row and column helpers
div.toggle-row {
  padding: 2rem;
  margin: 0.1rem 0;
  border-radius: 8px;
  background: $not-quite-black;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  align-content: left;
  justify-content: left;
  width: 100%;
  //height: 7rem;
  min-height: 7rem !important;
  max-height: 14rem;
  position: relative;
}

div.toggle-col {
  padding: 2rem;
  margin: 0.1rem 0;
  border-radius: 8px;
  background: $not-quite-black;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: left;
  align-content: left;
  justify-content: left;
  width: 100%;
  position: relative;
}

.toggle-column-wrapper {
  margin-bottom: 2em;
  padding: 0;
}

// hr
.dark-hr {
  background-color: lighten($not-quite-black, 10%);
}

// Spacing helper
.small-spacer-v {
  padding: 0.25rem;
  margin: 0.25rem;
}

.rounded-corners {
  border-radius: 8px;
}

.is-paddingless-top {
  padding-top: 0 !important;
}
.is-paddingless-bottom {
  padding-bottom: 0 !important;
}

.is-4em-h {
  height: 4em !important;
}

.is-borderless {
  border: none;
}

a.is-text-link {
  border-bottom: 1px solid $full-white;
}

a.logo-container {
  padding-top: 0;
}

nav.navbar {
  margin-top: 0.5rem;
}

i.navbar-icon {
  font-size: 1.5em;
}

.nav-menu-span {
  display: flex;
  width: 100%;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 769px) {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .nav-twitter::after {
    font-size: 0.75em;
    margin-left: 0.75em;
    content: "Twitter";
  }
  .nav-discord::after {
    font-size: 0.75em;
    margin-left: 0.75em;
    content: "Discord";
  }
}

.has-text-supercentered {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

// navbar
.navbar-user-avatar {
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
}

nav.navbar {
  font-size: 14px !important;
}

// Notifications
div.notification.is-outlined {
  background: transparent !important;
  border: 2px dashed $not-quite-black;
  border-radius: 8px;
}
