@import "./variables.scss";

.profile-avatar {
  //position: absolute;
  //top: -4.5em;
  //border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 128px;
  height: 128px;
  display: inline-block;
  //margin-left: -0.75em;
}

div.profile-top-bar {
  min-height: 4em;
  margin-bottom: 2em;
  background: $not-quite-black;
  margin-top: 0.75em;
}
.profile-header-link {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 2em;
}
.profile-header-link:hover {
  text-decoration: underline;
}
.profile-top-bar-inner:last-child {
  margin-right: -1em !important;
}
.profile-top-bar-inner {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-left: 1em;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  @media screen and (max-width: 768px) {
    flex-direction: column !important;
  }
}

div.post-column {
  margin-bottom: 1em;
}

.profile-name {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-about-text-title {
  font-size: 1.5em;
  font-weight: 600;
}

.profile-about-column {
  padding: 12px !important;
}

@media screen and (max-width: 768px) {
  div.profile-background-image-container {
    height: 100px;
  }
  .profile-background-image-wrapper {
    width: 100%;
    height: 100px;
    overflow: hidden;
    border: 2px solid $full-white;
    position: relative;
  }
  .profile-background-image {
    height: 100px;
    width: 100%;
  }

  .profile-column-container {
    width: 100%;
    align-items: center;
    margin: 0 !important;
  }

  .profile-avatar {
    left: calc(50% - 64px);
    // TODO: Figure out how this is actually calculated...
    margin-top: -8px;
  }
}

@media screen and (min-width: 769px) {
  div.profile-background-image-container {
    height: 50px;
    width: 100%;
  }
  .profile-background-image-wrapper {
    width: 100%;
    height: 50px;
    overflow: hidden;
    border: 2px solid $full-white;
    position: relative;
  }
  .profile-background-image {
    height: 50px;
    width: 100%;
  }

  div.profile-column {
    margin-left: 1em;
    margin-right: 1em;
  }

  .profile-about-column {
    margin-top: -10.5em;
  }

  .profile-background-image-thumb {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.profile-background-image-locked {
  cursor: not-allowed;
}

div.profile-background-image-container > img.profile-background-image-locked {
  filter: brightness(50%);
}
div.profile-background-image-container .profile-background-image-locked {
  color: darken($full-white, 20%);
  cursor: not-allowed;
  position: absolute;
  top: 0;
  left: 0;
  //background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.profile-background-section {
  background-size: cover;
  width: 100vw;
  height: 24rem;
}

.profile-background-pack-container {}

.profile-background-pack-container-locked {
  position: relative;
}

.profile-background-pack-locked-cover {
  position: absolute;
  width: 100%;
  height: calc(100% - 3em);
  top: 3em;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}