$blurple: #7289DA;
$redple: #db325c; // #FF69B4;
$full-white: #FFFFFF;
$greyple: darken(#99aaB5, 10%);
$dark-not-black: #2C2F33;
$not-quite-black: #23272A;

$text: $full-white;
$text-strong: $text;
$primary: $redple;

// Fonts
// @import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
// @import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
$family-sans-serif: "Lato", sans-serif; // "Open Sans", sans-serif; // "Ubuntu", sans-serif;

// navbar
$navbar-background-color: transparent; // $redple;
$navbar-item-color: $full-white;
$navbar-item-hover-color: $full-white;
$navbar-item-hover-background-color: transparent; // darken($dark-not-black, 2.5%); // transparentize($greyple, 0.9); // darken($redple, 5%);
$navbar-dropdown-background-color: $not-quite-black; // $redple;
$navbar-dropdown-item-hover-color: $full-white;
$navbar-dropdown-item-hover-background-color: darken($not-quite-black, 5%); // darken($redple, 5%);

// body
$body-background-color: $dark-not-black;
$body-color: $full-white;

// Text
$title-color: $full-white;
$subtitle-color: $full-white;

// Footer
$footer-background-color: transparent;

// Textbox
$input-color: $full-white;
$input-background-color: transparentize($greyple, 0.5);
$input-border-color: transparent;

$input-disabled-color: darken($full-white, 30%);
$input-disabled-background-color: $not-quite-black;
$input-disabled-border-color: $dark-not-black;

$input-focus-border-color: transparent;
$input-focus-box-shadow-size: 0 0 0 0;
$input-focus-box-shadow-color: transparent;

// Cards
$card-background-color: $not-quite-black;
$card-header-color: $full-white;

// Tags
$tag-background-color: $redple;
$tag-color: $full-white;

// Labels
$label-color: $full-white;

// Sliders
$slider-track-background: $dark-not-black;
$slider-output-background: $redple;

// Messages
$message-background-color: $dark-not-black;
$message-body-border: none;
$message-body-color: $full-white;

// Color overrides
$info: $blurple;

// Links 
$link: $full-white;
$link-visited: $full-white;
$link-hover: $full-white;
$link-focus: $full-white;
$link-active: $full-white;

// Menus
$menu-label-color: darken($full-white, 15%);

// Code
$code-background: $dark-not-black;
$pre-background: $code-background;
$code: $full-white;